* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLFj_Z1xlFQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
    font-family: 'Poppins-a';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
    font-family: 'Poppins-b';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

header{
    text-align: center;
    padding: 10px;

}

.titulo{
    font-family: "Poppins-b";
}


h3 {
    font-family: "Poppins-a";
    margin: 20px;
}

p{
    font-family: "Poppins";
    text-align: left;
    font-size: 15px;
    margin: 20px;
    filter: opacity(50%);
}

.mensaje {
    text-align: center;
}

img{
    float: right;
    max-width: 30%;
    overflow: hidden;

}

.container {
    display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-gap: 10px;
     padding: 5px;
        grid-template-areas:
                "left top"
                "rigth bottom";
      
}

.left {
    flex: 1;
    order: 0;
    height: 200px;
    width: 300px;
    margin: 10px;
    border: none;
    box-shadow: 2px 2px 2px 2px #ccc;
    border-radius: 10px;
    border-top: 5px solid hsl(180, 62%, 55%);
    position: absolute;
        bottom: 80px;
        left: 100px;
   
}

.top{
    flex: 2;
    order:1;
    height: 200px;
    width: 300px;
    margin: 10px;
    border: none;
    box-shadow: 2px 2px 2px 2px #ccc;
    border-radius: 10px;
    border-top: 5px solid hsl(0, 78%, 62%);
    position: absolute;
        bottom: 200px;
        left: 450px;
}

.rigth{
    flex: 3;
    order:3;
    height: 200px;
    width: 300px;
    margin: 10px;
    border: none;
    box-shadow: 2px 2px 2px 2px #ccc;
    border-radius: 10px;
    border-top: 5px solid hsl(212, 86%, 64%);
    position: absolute;
        bottom: 80px;
        right: 100px;

    
}

.bottom {
    flex: 4;
    order:2;
    height: 200px;
    width: 300px;
    margin: 10px;
    border: none;
    box-shadow: 2px 2px 2px 2px #ccc;
    border-radius: 10px;
    border-top: 5px solid hsl(34, 97%, 64%);
    position: absolute;bottom: -200px; left: 450px;
    
}
